<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<context:component-scan base-package="com.utd.libmgmt" />
	<mvc:annotation-driven />
	
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
	  <property name="order" value="1" />
	  <property name="mediaTypes">
		<map>
		   <entry key="json" value="application/json" />
		</map>
	  </property>
	  <property name="defaultViews">
			<list>
				<bean
					class="org.springframework.web.servlet.view.json.MappingJacksonJsonView">
				</bean>
			</list>
		</property>
		<property name="ignoreAcceptHeader" value="true" />
	</bean> 
	
	 <bean id="viewResolver" 
       class="org.springframework.web.servlet.view.UrlBasedViewResolver">  
       <property name="viewClass">  
           <value>  
               org.springframework.web.servlet.view.tiles2.TilesView  
           </value>  
       </property> 
       <property name="order" value="0"/> 
   </bean>
   <bean id="tilesConfigurer" 
       class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">  
       <property name="definitions">  
           <list>  
               <value>/WEB-INF/tiles.xml</value>  
           </list>  
       </property>  
   </bean>  
   <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
        	<value>/WEB-INF/jsp/</value>
        </property>
        <property name="suffix" value=".jsp" />
        <property name="order" value="1"/>
    </bean>
    
    <!-- Data source -->
    <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">    
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://libmanagement.cutkm2ctngsy.us-west-2.rds.amazonaws.com:3306/library"/>
        <property name="username" value="gowthami"/>
        <property name="password" value="udaysiri"/>
    </bean>
    
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="datasource"></constructor-arg>
    </bean>

</beans>